{% extends 'news/base.html' %}
{# 标题模块 #}
{% block titleBlock %}
    首页-新经资讯
{% endblock %}
{# js模块 #}
{% block scriptBlock %}
    <script type="text/javascript" src="../../static/news/js/index.js"></script>
{% endblock %}
{# 网页头部模块 #}
{% block headerBlock %}
    <ul class="menu fl">
        {% for category in data.categories %}
            <li class="{% if category.active or loop.index0 == 0 %}active{% endif %}" data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
{# 网页正文模块 #}
{% block contentBlock %}
    <ul class="list_con fl">
    </ul>
{% endblock %}